@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap') ;

.buttonBuscar {
  background-color: blue;
  border-radius: 20px;
  color: white;
  font-family: Shadows Into Light , cursive;
  font-size: 15px;
  font-weight: 700;
}
